/* Tablets Only - Start */

@media (max-width: 979px) {
	.header .logo{
		width: 156px;
	}
	.order-customer-statistic-day .dashboard-content,
	.order-customer-statistic-week .dashboard-content,
	.order-customer-statistic-month .dashboard-content,
	.order-customer-statistic-year .dashboard-content{
		padding: 10px;
		/*max-height: none;*/
	}
	.top-customers .dashboard-content,
	.top-products .dashboard-content{
		height: 310px;
		max-height: 310px;
	}
	.htabs a{
		font-size: 12px;
		padding-right: 10px;
		padding-left: 10px;
	}
	table.form input,
	table.form select{
		display: block;
	}
	table.form input[type="radio"],
	table.form input[type="checkbox"]{
		margin: 0;
		display: inline;
	}
	#dashboard-layout .span1,
	#dashboard-layout .span2,
	#dashboard-layout .span3,
	#dashboard-layout .span4,
	#dashboard-layout .span5,
	#dashboard-layout .span6{
		width: 48.6188%;
	}
	#dashboard-layout .span7,
	#dashboard-layout .span8,
	#dashboard-layout .span9,
	#dashboard-layout .span10,
	#dashboard-layout .span11,
	#dashboard-layout .span12{
		width: 100%;
	}
	.row-fluid .c-widget-small[class*="span"]{
		margin-right: 1.06%;
	}
/*	.order-customer-statistic-day .order-customer-legend,
	.order-customer-statistic-week .order-customer-legend,
	.order-customer-statistic-month .order-customer-legend,
	.order-customer-statistic-year .order-customer-legend{
		display: none;
		}*/
		.order-customer-statistic-day .order-customer-legend-box .order-customer-legend-color,
		.order-customer-statistic-week .order-customer-legend-box .order-customer-legend-color,
		.order-customer-statistic-month .order-customer-legend-box .order-customer-legend-color,
		.order-customer-statistic-year .order-customer-legend-box .order-customer-legend-color{
			height: 12px;
			width: 12px;
			margin: 0 3px 0 0;
		}
		.order-customer-statistic-day .order-customer-legend-box .legend-color-box,
		.order-customer-statistic-week .order-customer-legend-box .legend-color-box,
		.order-customer-statistic-month .order-customer-legend-box .legend-color-box,
		.order-customer-statistic-year .order-customer-legend-box .legend-color-box{
			height: 8px;
			width: 8px;
		}
		.order-customer-statistic-day .order-customer-legend-box .order-customer-legend-text,
		.order-customer-statistic-week .order-customer-legend-box .order-customer-legend-text,
		.order-customer-statistic-month .order-customer-legend-box .order-customer-legend-text,
		.order-customer-statistic-year .order-customer-legend-box .order-customer-legend-text{
			font-size: 11px;
			margin: 0 0 0 12px;
		}
	}

	/* Tablets Only - End */


	/* Everything Below Tablet - Start */
	@media (max-width: 767px) {
		body{
			padding: 0;
		}
		.header .logo{
			width: 48px;
		}
		.header .secondary-menu > ul > li#logout > a{
			line-height: 32px;
			padding: 11px 0 11px 32px;
		}
		.header .secondary-menu > ul > li#logout > a span{
			display: none;
		}
		.header .secondary-menu > ul ul{
			right: -49px;
		}
		.header .secondary-menu > ul > li#store{
			background-position: -172px -793px;
			padding-right: 10px;
			position: relative;
		}
		.header .secondary-menu > ul > li#store > a{
			padding: 11px 0 11px 49px;
		}
		.header .secondary-menu > ul > li#store > a span{
			display: none;
		}
		.success{
			left: 0;
			right: 0;
		}
		.warning{
			left: 0;
			right: 0;
		}
		#dashboard-layout .span1,
		#dashboard-layout .span2,
		#dashboard-layout .span3,
		#dashboard-layout .span4,
		#dashboard-layout .span5,
		#dashboard-layout .span6{
			width: 100%;
		}
		.modal{
			max-width: none;
			position: absolute;
		}
		.modal-body label{
			max-width: none;
		}
		.preview-box-widget{
			width: 100%;
		}
		.htabs a{
			padding-left: 6px;
			padding-right: 6px;
		}
		.order-customer-statistic-day .order-customer-legend,
		.order-customer-statistic-week .order-customer-legend,
		.order-customer-statistic-month .order-customer-legend,
		.order-customer-statistic-year .order-customer-legend{
			display: none;
		}
		.top-customers .dashboard-content,
		.top-products .dashboard-content{
			height: auto;
			max-height: 300px;
		}
		.top-customers-chart-outer,
		.top-products-chart-outer{
			width: 35%;
			margin: 0 7%;
		}
	/*
	Responsizve Tables - Start
	Has Issues with come tabled. Enable if you wish.
	*/
/*	.cf:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .cf{
		zoom: 1;
	}
	*:first-child+html .cf{
		zoom: 1;
	}
	table.list {
		width: 100%;
		line-height: 1.25em;
		border-collapse: collapse;
		border-spacing: 0;
	}
	table.list{
		display: block;
		position: relative;
		width: 100%;
	}
	table.list thead{
		display: block;
		float: left;
	}
	table.list tbody{
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}
	table.list thead tr{
		display: block;
	}
	table.list th{
		margin: 0;
		padding: 0.4166em;
		vertical-align: top;
		display: block;
	}
	table.list tbody tr{
		display: inline-block;
		vertical-align: top;
	}
	table.list td{
		margin: 0;
		padding: 0.4166em;
		vertical-align: top;
		display: block;
		min-height: 1.25em;
	}
	table.list td,
	table.list td.left,
	table.list td.right,
	table.list td.center{
		text-align: left;
	}
	table.list th{
		border-bottom: 0;
	}
	table.list td{
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	table.list tbody tr{
		border-right: 1px solid #babcbf;
	}
	table.list th:last-child,
	table.list td:last-child{
		border-bottom: 1px solid #babcbf;
		}
		*/
		/* Responsizve Tables - End */
	}
	/* Everything Below Tablet - End */


	/* Phones & Below - Start */

	@media (max-width: 480px) {
		#content.login{
			margin-top: 20px; 
		}
		.header .secondary-menu{
			margin: 6px 0 0 2%;
		}
		.header .secondary-menu > ul > li#store > a{
			padding: 6px 0 11px 49px;
		}
		.header .secondary-menu > ul > li#logout > a{
			padding: 6px 0 11px 32px;
		}
		.visible-small-phone{
			display: block;
		}
		.hidden-small-phone{
			display: none;
		}
		.header .admin-info{
			display: none;
		}
		.header .secondary-menu{
			margin: 6px 0 0 2%;
		}
		.header .secondary-menu > ul > li#store{
			background-position: -172px -789px;
		}
		.stock-alert-header{
			margin: 0 0 0 2%;
		}
		#menu-control{
			display: inline-block;
			float: left;
			margin: 10px 0 0 15px;
		}
		#left-column{
			background: url("../../../image/admin_theme/base5builder_circloid/site-bg.png") repeat scroll 0 0 #1D1D1D;
			box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.25);
			display: none;
			position: absolute;
			z-index: 9999;
			left: -110px;
		}
		ul.mainnav > li > ul{
			position: static;
		}
		#right-column{
			margin: 0;
		}
		.order-customer-statistic-day .dashboard-content,
		.order-customer-statistic-week .dashboard-content,
		.order-customer-statistic-month .dashboard-content,
		.order-customer-statistic-year .dashboard-content{
			max-height: none;
		}
		.top-customers-chart-outer,
		.top-products-chart-outer{
			width: 49%;
			margin: 0 2% 0 0;
		}
	}

	/* Phones & Below - End */


	/* Smaller Phones & Below - Start */

	@media (max-width: 320px) {
		.stock-alert-header{
			margin: 10px 0 0 2%;
		}
		.order-customer-legend{
			display: none;
		}
		.order-customer-statistic .range{
			clear: both;
		}
		#report-order-customer-statistic{
			margin: 45px 0 0 0;
		}
		.top-customers-chart-outer,
		.top-products-chart-outer{
			display: none;
		}
		.top-customers-list,
		.top-products-list{
			width: 100%;
		}
	}

	/* Smaller Phones & Below - End */