/* Blue Color Profile */

/* General Style */
a,
a:visited{
	color: #2D89EF;
}
a:hover,
a:focus{
	color: #75AFF0;
}

/* Menu Item - Default State */
ul.mainnav > li > a,
ul.mainnav > li > a:visited{
	background-image: url("../../../../image/admin_theme/base5builder_circloid/color_profiles/blue_profile/css-sprite.png");
}

/* Menu Item - Hover State */
ul.mainnav > li.menu-open > a,
ul.mainnav > li > a:hover,
ul.mainnav > li > a:focus{
	border-bottom: 3px solid #2D89EF !important;
}
ul.mainnav > li.selected > a,
ul.mainnav > li.selected > a:visited{
	border-bottom: 3px solid #2D89EF !important;
}
ul.mainnav > li > ul > li a:hover,
ul.mainnav > li > ul > li a:focus{
	color: #2D89EF;
}
#menu-control .menu-control-outer.opened .menu-control-inner,
#menu-control .menu-control-outer .menu-control-inner:hover,
#menu-control .menu-control-outer .menu-control-inner:focus{
	border-top: 1px solid #67A7F0;
	background:#2D89EF;
}

/* Secondary Menu */
.header .secondary-menu > ul > li > ul a:hover,
.header .secondary-menu > ul > li > ul a:focus{
	color: #2D89EF;
}

/* Right Column */
#right-column #content{
	border-top: 5px solid #2D89EF !important;
}
.other-stats .other-stats-block .other-stats-block-number{
	color: #656565;
}
.other-stats .other-stats-block .other-stats-block-text a{
}
.sales-value .sales-value-legend .number-stat-number{
	color: #1D1D1D;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates .sales-value-estimates-amount{
	color: #1D1D1D;
}
body.blue-profile .order-customer-statistic .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .order-customer-statistic-day .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .order-customer-statistic-week .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .order-customer-statistic-month .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .order-customer-statistic-year .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .sales-value .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .other-stats .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .top-customers .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .top-products .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
body.blue-profile .latest .dashboard-content{
	border-bottom: 3px solid #2D89EF;
}
table.list thead{
	background-color: #2D89EF;
	color: #FFFFFF;
}
table.list thead a:link,
table.list thead a:visited{
	color: #FFFFFF;
}
table.list tbody tr:hover{
	background: #EAF7FF;
}

/* Charts Tooltips */
#flotTip{
	background: #CCE4FF;
	border: 1px solid #2D89EF;
	color: #0054B5;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	ul.mainnav > li > a,
	ul.mainnav > li > a:visited{
		background-image: url("../../../../image/admin_theme/base5builder_circloid/color_profiles/blue_profile/css-sprite@2x.png");
		background-size: 500px 1000px;
		background-repeat: no-repeat;
	}
}